table {
  width:100%;
  border-collapse: separate !important;
  border-spacing: 0;
  margin: auto;
  margin-bottom: 0px;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #666; /* this draws the table border  */ 
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

td {
  padding: 0px 5px;
  width: 50%;
}

tr {
  height: 35px;
}

ul {
  padding: 0px 20px;
  margin:0px;
}

p {
  margin: 0px;
}

.btn {
	width: 20px;
  height: 20px;
  background:none;
	margin: 0px;
	padding: 0px;
}

.borderless {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.centerheader {
  width: 170px;
}

.error {
  color: red;
  height: 35px;
}

.faded-header {
  font-weight: bold;
  color: #609bd2;
  text-align: center;
  margin: 1% 25%;
  opacity: 0.7;
}

.logo {
  width: 100px;
}

#input-box {
  background-color: white;
}

.heading {
  color: #296092;
  font-weight:bold;
  margin-bottom: 20px;
}

/*Tooltip css*/
.info {
    position: relative;
    display: inline-block;
}

.info .info-text {
    visibility: hidden;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: normal;
    padding: 5px 10px;
    font-size:14px;
    top: 10px;
    left: 140%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.info:hover .info-text {
    visibility: visible;
}

.info-header {
  margin-bottom: 5px;
  font-weight: bold;
  color: #296092;
}

.info-body {
  text-align: left;
}
