.table {
  display: inline-block;
  width: 200px;
  text-align: left;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 0px;
}

th {
  padding: 5px;
  font-weight: bold;
}

td {
  padding: 2px 5px;
}

table, th, td {
  border: 1px solid black;
}

.table h3 {
  text-align: center;
}

.btn {
	width: 20px;
  height: 20px;
  background:none;
	margin: 0px;
	padding: 0px;
}

.borderless {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.centerheader {
  width: 170px;
}

.tablewithbuttons {
  width: 210px;
}

.buttoncell {
  padding:0px;
}

.error {
  color: red;
}

.faded-header {
  font-weight: bold;
  color: #609bd2;
  text-align: center;
  margin: 1% 25%;
  opacity: 0.7;
}

.logo {
  width: 100px;
}

#input-box {
  width: 40%;
  background-color: white;
}

.heading {
  color: #296092;
  font-weight:bold;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

select {
  width: 35%;
}

.glyphicon-info-sign {
  font-size: 15px;
  color: black;
}

/*Tooltip css*/
.info {
    position: relative;
    display: inline-block;
}

.info .info-text {
    visibility: hidden;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: normal;
    padding: 5px 10px;
    font-size:14px;
    top: 10px;
    left: 140%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.info:hover .info-text {
    visibility: visible;
}

.info-header {
  margin-bottom: 5px;
  font-weight: bold;
  color: #296092;
}

.info-body {
  text-align: left;
}

ul {
  padding: 0px 20px;
  margin:0px;
}

p {
  margin: 0px;
}

.error {
  height: 15px;
}
